<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	<context:component-scan base-package="org.anks2089.spring" />

	<!-- scope="singleton" -->
	<!-- scope="prototype" -->
	<bean id="schoolApp" class="org.anks2089.spring.app.component.MySchool">

		<constructor-arg ref="student" />
		<constructor-arg ref="teacher" />
<!-- 		<property name="person1" ref="teacher" /> -->
<!-- 		<property name="person2" ref="student" /> -->
	</bean>

	<bean id="teacher" class="org.anks2089.spring.app.bean.Teacher" />
	<bean id="student" class="org.anks2089.spring.app.bean.Student" />

</beans>